---
layout: page
title: About
subtitle: 借给技术一点闲情.
permalink: /about/
---

<h2>我</h2>
<p><img src="/img/portrait_01.jpg" alt="董三碗"></p>
<p>别碰，碗里有毒。 </p>

<h2>联系方式</h2>
<p>
    <ul class="about-list">
        <li>
            <i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}"> Github</a>
        </li>
        <li>
            <i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> Email</a>
        </li>
    </ul>
</p>

<h2>这个Blog</h2>
<p>会越来越好</p>
<p>
    <ul class="about-list">
        <li><i class="fa fa-rss"></i><a href="{{ site.url }}{{ site.baseurl }}/feed.xml"> RSS</a></li>
        <li><i class="fa fa-modx"></i> Total <span id="busuanzi_value_site_pv"><i class="fa fa-spinner fa-pulse"></i></span> Hits and <span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-pulse"></i></span> Visitors</li>
    </ul>
</p>

{% if site.skillstree %}
{% include skillstree.html %}
{% endif %}
