<h2>My Skills Tree</h2>
<section class="tech">
    <div class = "item">
        <div class = "describe">
            HTML/CSS
        </div>
        <div class="progress">
            <span class="yellow" style="width: 86%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            PHP
        </div>
        <div class="progress">
            <span class="green" style="width: 80%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            JAVASCRIPT
        </div>
        <div class="progress">
            <span class="blue" style="width: 76%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            LINUX
        </div>
        <div class="progress">
            <span class="red" style="width: 45%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            NODE.JS
        </div>
        <div class="progress">
            <span class = "darkblue" style="width: 45%;"></span>
        </div>
    </div>
</section>
